@page
@model Client.Web.Areas.Clientes.Pages.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Pages/Shared/_LayoutCliente.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.RazaoSocial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.RazaoSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.NomeFantasia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.NomeFantasia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.TipoPessoa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.TipoPessoa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Documento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Documento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Complemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Complemento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Uf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Uf)
        </dd>        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cliente.Id">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
